{  
   "swagger":"2.0",
   "info":{  
      "title":"Air Pollution API",
      "version":"0.1.0"
   },
   "host":"api.airpollution.online",
   "basePath":"/",
   "paths":{
      "fields":{
         "get":{
            "summary":"Get fields",
            "description":"An open standard for the pollutant parameters has been defined. You can access the format for the incoming API or take the API to use the standard formats for showcasing your air-quality data.",
            "tags":[
               "Fields API"
            ],
            "consumes":[
               "application/json",
               "application/x-form-www-urlencoded"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"type",
                  "in":"query",
                  "description":"Device Type",
                  "required":false,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"ok"
               },
               "default":{
                  "description":"default response"
               }
            }
         }
      },
      "all/public/devices":{  
         "get":{  
            "summary":"Device and Data",
            "description":"This API offers access to the current data sent by all the devices setup in Delhi. The user can access the data of all the specific locations being covered in Delhi and their current air-quality standards.",
            "tags":[  
               "Public API"
            ],
            "consumes":[  
               "application/json",
               "application/x-form-www-urlencoded"
            ],
            "produces":[  
               "application/json"
            ],
            "responses":{  
               "200":{  
                  "description":"ok"
               },
               "default":{  
                  "description":"default"
               }
            }
         },
         "post":{  
            "summary":"Current data of devices",
            "description":"This API provides access to the current air-quality data for each specific device. The device id has to be entered and the data for each specific device will be shared.",
            "tags":[  
               "Public API"
            ],
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "name":"devices list",
                  "in":"body",
                  "description":"Devices List",
                  "required":true,
                  "schema":{  
                     "type":"object",
                     "properties":{  
                        "devices":{  
                           "type":"array",
                           "items":{  
                              "type":"string",
                              "format":"\"Device_ID\"",
                              "propertyRow":true
                           },
                           "name":"devices",
                           "propertyRow":true
                        }
                     }
                  }
               }
            ],
            "responses":{  
               "200":{  
                  "description":"ok",
                  "code":"200"
               },
               "default":{  
                  "description":"default",
                  "code":"default"
               }
            }
         }
      },
      "all/public/data/{deviceId}":{  
         "get":{  
            "summary":"Get device data",
            "description":"This API provides access to the data on hourly basis for 24 hours or between a specified time-range for all or specific devices. The device id has to be entered and the specific data for each device within a defined time-frame will be shared.",
            "tags":[  
               "Public API"
            ],
            "consumes":[  
               "application/json",
               "application/x-form-www-urlencoded"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "name":"deviceId",
                  "in":"path",
                  "description":"deviceId",
                  "required":true,
                  "type":"string"
               },
               {  
                  "name":"lte",
                  "in":"formData",
                  "description":"Less than time",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"gte",
                  "in":"formData",
                  "description":"Greater than time",
                  "required":false,
                  "type":"string"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"ok"
               },
               "default":{  
                  "description":"default"
               }
            }
         }
      },
      "all/public/aqi/{deviceId}":{  
         "get":{  
            "summary":"aqi by device name",
            "description":"This API offers access to the Air-Quality Index(AQI) for each specific device.  The device id has to be entered and the AQI for the respective device is accessible.",
            "tags":[  
               "Public API"
            ],
            "consumes":[  
               "application/json",
               "application/x-form-www-urlencoded"
            ],
            "produces":[  
               "application json"
            ],
            "parameters":[  
               {  
                  "name":"deviceId",
                  "in":"path",
                  "description":"deviceId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"ok",
                  "code":"200"
               },
               "default":{  
                  "description":"default",
                  "code":"default"
               }
            }
         }
      },
      "all/public/{deviceId}":{  
         "get":{  
            "summary":"Device current data",
            "description":"This API offers access to all the current data about air-quality for each specific device. The device id has to be entered and on basis of which the current data of the specific location is accessible.",
            "tags":[  
               "Public API"
            ],
            "consumes":[  
               "application/json",
               "application/x-form-www-urlencoded"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "name":"deviceId",
                  "in":"path",
                  "description":"deviceId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"ok",
                  "code":"200"
               },
               "default":{  
                  "description":"default",
                  "code":"default"
               }
            }
         }
      }
   }
}