{  
   "swagger":"2.0",
   "info":{  
      "title":"Air Pollution API",
      "version":"0.1.0"
   },
   "host":"api.airpollution.online",
   "basePath":"/",
   "paths":{
      "all/public/devices":{  
         "get":{  
            "summary":"Device and Data",
            "description":"All public devices and their current data",
            "tags":[  
               "Public API"
            ],
            "consumes":[  
               "application/json",
               "application/x-form-www-urlencoded"
            ],
            "produces":[  
               "application/json"
            ],
            "responses":{  
               "200":{  
                  "description":"ok"
               },
               "default":{  
                  "description":"default"
               }
            }
         },
         "post":{  
            "summary":"Current data of devices",
            "description":"Get current data of all devices",
            "tags":[  
               "Public API"
            ],
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "name":"devices list",
                  "in":"body",
                  "description":"Devices List",
                  "required":true,
                  "schema":{  
                     "type":"object",
                     "properties":{  
                        "devices":{  
                           "type":"array",
                           "items":{  
                              "type":"string",
                              "format":"\"Device_ID\"",
                              "propertyRow":true
                           },
                           "name":"devices",
                           "propertyRow":true
                        }
                     }
                  }
               }
            ],
            "responses":{  
               "200":{  
                  "description":"ok",
                  "code":"200"
               },
               "default":{  
                  "description":"default",
                  "code":"default"
               }
            }
         }
      },
      "all/public/data/{deviceId}":{  
         "get":{  
            "summary":"Get device data",
            "description":"Get device hourly data for 24 hours or in time range",
            "tags":[  
               "Public API"
            ],
            "consumes":[  
               "application/json",
               "application/x-form-www-urlencoded"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "name":"deviceId",
                  "in":"path",
                  "description":"deviceId",
                  "required":true,
                  "type":"string"
               },
               {  
                  "name":"lte",
                  "in":"formData",
                  "description":"Less than time",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"gte",
                  "in":"formData",
                  "description":"Greater than time",
                  "required":false,
                  "type":"string"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"ok"
               },
               "default":{  
                  "description":"default"
               }
            }
         }
      },
      "all/public/full/{deviceId}":{  
         "get":{  
            "summary":"Get full data",
            "description":"Get all data for time range or last 24 hours",
            "tags":[  
               "Public API"
            ],
            "consumes":[  
               "application/json",
               "application/x-form-www-urlencoded"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "name":"deviceId",
                  "in":"path",
                  "description":"deviceId",
                  "required":true,
                  "type":"string"
               },
               {  
                  "name":"lte",
                  "in":"formData",
                  "description":"Less than time",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"gte",
                  "in":"formData",
                  "description":"Greater than time",
                  "required":false,
                  "type":"string"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"ok",
                  "code":"200"
               },
               "default":{  
                  "description":"default",
                  "code":"default"
               }
            }
         }
      },
      "all/public/aqi/{deviceId}":{  
         "get":{  
            "summary":"aqi by device name",
            "description":"Get AQI by device ID",
            "tags":[  
               "Public API"
            ],
            "consumes":[  
               "application/json",
               "application/x-form-www-urlencoded"
            ],
            "produces":[  
               "application json"
            ],
            "parameters":[  
               {  
                  "name":"deviceId",
                  "in":"path",
                  "description":"deviceId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"ok",
                  "code":"200"
               },
               "default":{  
                  "description":"default",
                  "code":"default"
               }
            }
         }
      },
      "all/public/aqi":{  
         "post":{  
            "summary":"AQI of all devices",
            "description":"Get AQI of all devices",
            "tags":[  
               "Public API"
            ],
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "name":"devices list",
                  "in":"body",
                  "description":"Devices array",
                  "required":false,
                  "schema":{  
                     "type":"object",
                     "properties":{  
                        "devices":{  
                           "type":"array",
                           "items":{  
                              "type":"string",
                              "format":"\"Device_ID\""
                           }
                        }
                     }
                  }
               }
            ],
            "responses":{  
               "200":{  
                  "description":"ok"
               },
               "default":{  
                  "description":"default"
               }
            }
         }
      },
      "all/public/aqi/all/aqi":{  
         "get":{  
            "summary":"Aqi of all devices",
            "description":"Current AQI of all devices",
            "tags":[  
               "Public API"
            ],
            "consumes":[  
               "application/json",
               "application/x-form-www-urlencoded"
            ],
            "produces":[  
               "application/json"
            ],
            "responses":{  
               "200":{  
                  "description":"ok",
                  "code":"200"
               },
               "default":{  
                  "description":"default",
                  "code":"default"
               }
            }
         }
      },
      "all/public/{deviceId}":{  
         "get":{  
            "summary":"Device current data",
            "description":"Device current data",
            "tags":[  
               "Public API"
            ],
            "consumes":[  
               "application/json",
               "application/x-form-www-urlencoded"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "name":"deviceId",
                  "in":"path",
                  "description":"deviceId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"ok",
                  "code":"200"
               },
               "default":{  
                  "description":"default",
                  "code":"default"
               }
            }
         }
      }
   }
}